@font-face {
    font-family: Lucida; /* Гарнитура шрифта */
    src: url(../fonts/Lucida-Sans.ttf);
} 

header {
    width: 911px;
    margin: 0 auto;
    padding-top: 18px;
}

.telephone::before {
    width: 22px;
    height: 22px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -179px;
    float: left;
    margin-right: 5px;
}

header p {
    float: left;
    margin-left: 7px;
    color: #737c80;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: .25px;
    margin-top: 5px;
}

header form::before {
    width: 17px;
    height: 19px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -48px;
    float: left;
    margin-right: 1px;
}

header form {
    display: inline-block;
    margin-left: 20px;
    font-size: 10.91px;
    padding: 3px 0 5px 6px;;
    border-radius: 3px;
    background-color: #0f3b5f;
    float: left;
}

header form .input-login {
    width: 107px;
    height: 14px;
    padding-left: 2px;
}

header form .input-password {
    width: 107px;
    height: 14px;
    margin-left: 4px;
    padding-left: 5px;
}

header form .log-in {
    margin: 4px;
    margin-right: 0;
    padding-right: 4px;
    border-right: 1px solid #bfcbd5;
    color: #fff;
    font-family: Lucida;
    font-size: 10.91px;
}

header form .registration {
    color: #fff;
    font-family: Lucida;
    font-size: 10.91px;
}

header form .forgot-password {
    margin-left: 16px;
    padding-right: 10px;
    color: #bfbfbf;
    font-family: Lucida;
    font-size: 12px;
    text-decoration: underline;
}

.navigation {
    float: left;
    margin-top: 4x;
    margin-left: 18px;
    padding-bottom: 3px;
    border: 1px solid #808080;
    border-radius: 12px;
}

.navigation a {
    width: 12px;
    height: 12px;
    float: left;
    margin: 4px 5px 1px 6px;
    background: url('../img/sprite.png') no-repeat;
}

.navigation .home-button {
    background-position: 0px -27px;
    margin-left: 8px;
    margin-top: 4px;
}

.navigation .site-map {
    background-position: 0px -159px;
    margin-left: 3px;
}

.navigation .letter {
    background-position: 0px -76px;
    margin-right: 11px;
}

header img {
    margin-top: 8px;
    margin-left: 1px;
}

nav {
    width: 911px;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #45484d 0%, #000 100%); 
}

nav ul {
    display: inline-block;
    margin: 2px;
    padding-bottom: 3px;
    padding-left: 126px;
}

nav ul li {
    display: inline-block;
    color: #b1bcc0;
}

nav li a {
    display: block;
    color: #b1bcc0;
    font-family: Lucida;
    font-size: 13.64px;
    text-transform: uppercase;
    padding: 0 19px 0px 19px;
    margin-top: 5px;
}

nav .payment {
    padding: 0 12px 0px 12px;
}

nav .delivery {
    padding: 0 13px 0px 13px;
}

nav .articles {
    padding: 0 13px 0px 13px;
}

nav .contacts {
    padding: 0 8px 0px 8px;
}

.main-menu a:hover {
    border-radius: 11px;
    background-color: #13486b;
    color: #fff;
}

nav .img-basket {
    margin: 8px 4px 0 0px;
    content: ".";
    float: right;
    width: 23px;
    height: 18px;
    background: url("../img/sprite.png");
    background-position: 0px 0px; 
}

nav p {
    float: right;
    font-family: Arial;
    font-size: 11px;
    color: #929b9f;
    margin-right: 13px;
    letter-spacing: 0.6px;
    margin-top: 9px;
    display: inline;
}

nav p span {
    font-size: 12px;
    color: #0d5a8f;
}

.quantity-ware {
    margin-left: 2px;
    margin-right: 14px;
}

.sum-in-uah {
    margin-left: 8px;
}

main {
    width: 911px;
    margin: 0 auto;
    margin-top: 10px;
}

.catalog {
    width: 191px;
    float: left;
    margin-top: 10px;
}

.catalog-products::before {
    width: 21px;
    height: 21px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -128px;
    float: left;
    margin-right: 5px;
    margin-left: -5px;
}

.catalog-products {
    width: 171px;
    padding: 1px 2px 0px 7px;
    border: 1px solid #91999d;
    border-radius: 11px;
    color: #114165;
    font-family: Lucida;
    font-size: 12.73px;
    text-transform: uppercase;
}

.catalog-products p {
    margin: 2px 2px 2px 0px;
}

.catalog-bus {
    margin-top: 13px;
}

.catalog-bus span::before {
    width: 23px;
    height: 23px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -95px;
    float: left;
    margin-right: 1px;
    margin-left: 3px
}

.catalog-bus span {
    display: inline-block;
    width: 146px;
    border: 1px solid #91999d;
    border-radius: 11px;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-left: 3px;
}

.catalog-bus p {
    margin: 3px 0 0 0;
}

.catalog-disk {
    margin-top: -7px;
}

.catalog-disk span::before {
    width: 23px;
    height: 23px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -95px;
    float: left;
    margin-right: 1px;
    margin-left: 3px;
}

.catalog-disk span {
    display: inline-block;
    width: 146px;
    border: 1px solid #91999d;
    border-radius: 11px;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 1px;
    margin-left: 3px;
    margin-top: 1px;
}

.catalog-disk p {
    margin: 3px 0 0 0;
}

.catalog-bolt {
    margin-top: -7px;
}

.catalog-bolt span::before {
    width: 23px;
    height: 23px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -95px;
    float: left;
    margin-right: 1px;
    margin-left: 3px;
}

.catalog-bolt span {
    display: inline-block;
    width: 146px;
    border: 1px solid #91999d;
    border-radius: 11px;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 1px;
    margin-left: 3px;
    margin-top: 1px;
}

.catalog-bolt p {
    margin: 3px 0 0 0;
}

.submenu li {
    list-style-type: circle;
    margin-left: 55px;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: 55px;
}

.submenu li a {
    color: #465961;
    font-family: Lucida;
    font-size: 12.73px;
    margin-left: -8px;
}

.submenu a:hover {
    color: #0c3256;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.content {
    width: 525px;
    margin-top: 7px;
    float: left;
    background: #d9dfe1;
    padding-bottom: 21px;
}

.content ul li {
    display: inline-block;
}
.ware-goodyear {
    margin-left: 23px;
}

.content .brand-goodyear {
    margin-top: 10px;
    text-align: center;
    color: #206987;
    font-family: Lucida;
    font-size: 14.59px;
    font-weight: bold;
    letter-spacing: .5px;
}

.content .kind-goodyear {
    font-family: Lucida;
    font-size: 12.77px;
    margin-top: -7px;
    margin-left: 14px;
}

.ware-goodyear img {
    padding: 5px 33px 5px 30px;
    border: 1px solid #adb6b9;
    border-radius: 10px;
    background: #fff;
    margin-top: -3px;
}

.content .ware-goodyear p {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #114165;
    margin-top: -2px;
    margin-left: 39px;
}

.ware-goodyear p span {
    font-size: 12px;
    margin-left: 3px;
}

.ware-nokian .brand-nokian {
    margin-top: 10px;
    margin-left: 45px;
    color: #206987;
    font-family: Lucida;
    font-size: 14.59px;
    font-weight: bold;
    letter-spacing: .5px;
}

.content .kind-nokian {
    font-family: Lucida;
    font-size: 12.77px;
    margin-top: -7px;
    margin-left: 24px;
}

.ware-nokian img {
    padding: 5px 35px 5px 33px;
    border: 1px solid #adb6b9;
    border-radius: 10px;
    background: #fff;
    margin-top: -3px;
}

.content .ware-nokian p {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #114165;
    margin-top: -1px;
    margin-left: 34px;
}

.ware-nokian p span {
    font-size: 12px;
    margin-left: 5px;
}

.ware-hankook .brand-hankook {
    margin-top: 10px;
    margin-left: 38px;
    color: #206987;
    font-family: Lucida;
    font-size: 14.59px;
    font-weight: bold;
    letter-spacing: .5px;
}

.content .kind-hankook {
    font-family: Lucida;
    font-size: 12.77px;
    margin-top: -7px;
    margin-left: 10px;
}

.ware-hankook img {
    padding: 5px 30px 4px 28px;
    border: 1px solid #adb6b9;
    border-radius: 10px;
    background: #fff;
    margin-top: -3px;
}

.content .ware-hankook p {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #114165;
    margin-top: -1px;
    margin-left: 35px;
}

.ware-hankook p span {
    font-size: 12px;
    margin-left: 4px;
}

.choose-brand {
    width: 185px;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.brand-ware::before {
    width: 21px;
    height: 21px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -128px;
    float: left;
    margin-right: 6px;
    margin-left: -4px;
}

.brand-ware {
    width: 171px;
    padding: 1px 3px 3px 8px;
    border: 1px solid #91999d;
    border-radius: 13px;
    color: #114165;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
}

.brand-ware p {
    margin: 1px 0px 0px 0px;
}

.brand-bus {
    margin-top: 13px;
    margin-left: 14px;
}

.brand-bus span::before {
    width: 23px;
    height: 23px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -95px;
    float: left;
    margin-right: 2px;
    margin-left: 3px
}

.brand-bus span {
    display: inline-block;
    width: 133px;
    border: 1px solid #91999d;
    border-radius: 13px;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.brand-bus p {
    margin: 3px 0 0 0;
}

.bus-input {
    height: 10px;
    margin-left: 11px;
    margin-bottom: 11px;
}

.label-brand-bus {
    margin-left: 8px;
    font-family: Lucida;
    font-size: 12.73px;
    margin-top: -6px;
}

.brand-disk {
    margin-top: 6px;
    margin-left: 13px;
}

.brand-disk span::before {
    width: 23px;
    height: 23px;
    content: ".";
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -95px;
    float: left;
    margin-right: 5px;
    margin-left: 3px
}

.brand-disk span {
    display: inline-block;
    width: 136px;
    border: 1px solid #91999d;
    border-radius: 13px;
    font-family: Lucida;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-left: 1px;
    margin-bottom: 7px;
}

.brand-disk p {
    margin: 3px 0 0 0;
}

.disk-input {
    height: 10px;
    margin-left: 11px;
    margin-bottom: 11px;
}

.label-brand-disk {
    margin-left: 8px;
    font-family: Lucida;
    font-size: 12.73px;
    margin-top: -6px;
}

.choose-brand .input-submit {
    margin-top: 11px;
    margin-left: 23px;
    padding: 5px 13px 6px;
    border-radius: 10px;
    background: #164e70;
    color: #e5e9ea;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.main::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
}

footer {
    width: 911px;
    margin: 0 auto;
    margin-top: 20px;
}

.brand-logo {
    height: 25px;
    margin-bottom: 46px;
    margin-left: 118px;
}

.brand-logo li {
    float: left;
    background: url(../img/sprite-brand.png) no-repeat;
    width: 95px;
    height: 30px;
    margin-top: 22px;
    content: ".";
}

.brand-logo .toyotires {
    background-position: 0px -263px;
}

.brand-logo .bidgestore {
    background-position: 0px -33px;
}

.brand-logo .continental {
    background-position: 0px -67px;
    margin-left: 15px;
    width: 92px;
}

.brand-logo .cooper {
    background-position: 0px -108px;
    margin-top: 21px;
    width: 72px;
}

.brand-logo .avon {
    background-position: 0px 0px;
    margin-top: 23px;
    width: 89px;
}

.brand-logo .tire-factory {
    background-position: 0px -216px;
    margin-top: 18px;
    width: 70px;
}

.brand-logo .pirell {
    background-position: 0px -182px;
    width: 77px;
}

.brand-logo .dunlop {
    background-position: 0px -149px;
    margin-top: 21px;
}
                
.info-company {
    width: 911px;
    margin: 0 auto;
    background: -webkit-linear-gradient(top, rgba(211, 213, 217, 1) 0%, rgba(33, 58, 77, 1) 0%, rgba(33, 58, 77, 1) 100%); 
    padding-bottom: 52px;
}

.foot {
    margin-left: 308px;
    margin-bottom: 13px;
    padding: 7px 20px 0 0px;
    width: 302px;
}

.foot li {
    display: inline-block;
}

.foot li a {
    color: #bec6c9;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: .25px;
    border-left: 1px solid #7f8e97;
}

.foot .about-company {
    padding-right: 7px;
    padding-left: 2px;
    border-left: 0;
}

.foot .foot-delivery {
    padding-top: 4px;
    padding-right: 7px;
    padding-left: 13px; 
}

.foot .foot-articles {
    padding-right: 9px;
    padding-left: 13px;
}

.foot .foot-contacts {
    padding-left: 16px;
}

.info-company p {
    margin-left: 378px;
    color: #7f4740;
    font-family: Arial;
    font-size: 10px;
}

.foot a:focus {
    color: #52abcb;
}
